.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  border-bottom: 3px solid #20232a;
  background-color: transparent;
  color: white;
}

.menuItems {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 10%;
  padding: 0 10px;
}

.menuItems {
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.menuOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dropdownMenu {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  z-index: 10;
}
.menuIcon {
  width: 30px;
}

.setStar {
  width: 32px;
  filter: invert(88%) sepia(22%) saturate(3519%) hue-rotate(320deg)
    brightness(110%) contrast(100%);
}
.unsetStar {
  width: 32px;
}

.completedIcon {
  width: 32px;
  filter: invert(90%) sepia(5%) saturate(2173%) hue-rotate(67deg)
    brightness(82%) contrast(92%);
}
.incompletedIcon {
  width: 32px;
}
